In [ ]:
'''  Tasks:
✅ Step 1: Create data frame 
Display the first few rows

✅ Step 2: Calculate total and average marks for each student
Use NumPy to calculate total and average marks across all subjects

Add new columns Total and Average to the DataFrame

✅ Step 3: Identify the top 5 students
Sort the students based on their total marks (highest to lowest)
Display the names and total marks of the top 5 performers

✅ Step 4: Perform pass/fail analysis
Define a passing mark as 40 in each subject

Mark students as "Pass" if they passed all subjects, otherwise "Fail"

Add a new column Status to show the result

✅ Step 5: Calculate subject-wise average
Calculate and display the average marks for each subject

In [61]:
import pandas as pd
import numpy as np

data = {
    'Name': ['Ali', 'Sara', 'Ahmed', 'Hina', 'Zain', 'Fatima', 'Usman', 'Ayesha', 'Bilal', 'Nida'],
    'Maths': [78, 90, 45, 66, 35, 88, 72, 95, 50, 62],
    'Physics': [65, 88, 50, 70, 30, 85, 64, 92, 55, 68],
    'Chemistry': [72, 85, 42, 60, 25, 80, 59, 88, 49, 61],
    'Biology': [70, 89, 48, 62, 33, 75, 60, 90, 55, 66],
    'English': [80, 95, 48, 72, 40, 90, 67, 93, 52, 74],
    'Urdu': [82, 91, 52, 68, 38, 86, 70, 94, 57, 79]
}
# Create the DataFrame
df = pd.DataFrame(data)
print(df.shape)
print(f' \n Display the first few rows :\n {df.head(3)} \n ')
#Step 2:

print('Calculate total and average marks for each student')
marks = df.iloc[: , 1:]
df['Total_Marks'] = np.sum(marks , axis = 1)
print(f' \n Total Marks :\n {df['Total_Marks']} ')
df['Average_Marks'] = np.mean(marks , axis = 1)   
print(f' \n Average Marks :\n {df['Average_Marks']} ')

#Step 3: 

top_5 = df.sort_values(by='Total_Marks' , ascending = False).head(5)
print('\n')
print('Identify the top 5 students :')
print(top_5[['Name' , 'Total_Marks' ]] )

 #Step 4 :

Pass_Marks = 40 
df['Status'] = np.where(
    (df['Maths'] > Pass_Marks) &
    (df['Physics'] > Pass_Marks) &
    (df['Chemistry'] > Pass_Marks) &
    (df['Biology'] > Pass_Marks) &
    (df['English'] > Pass_Marks) &
    (df['Urdu'] > Pass_Marks),
    'Pass' , 'Fail'
)
print('\n')
print('pass/fail analysis :')
print(df[['Name' , 'Status']])
 #Step 5 :
print('\n')
print('Calculate subject-wise average')
print(df.agg ({'Maths' : 'mean' , 'Physics' : 'mean' , 
               'Chemistry' : 'mean' , 'Biology' : 'mean' ,
               'English' : 'mean' , 'Urdu' : 'mean'     }))

(10, 7)

 Display the first few rows :
     Name  Maths  Physics  Chemistry  Biology  English  Urdu
0    Ali     78       65         72       70       80    82
1   Sara     90       88         85       89       95    91
2  Ahmed     45       50         42       48       48    52

Calculate total and average marks for each student

 Total Marks :
 0    447
1    538
2    285
3    398
4    201
5    504
6    392
7    552
8    318
9    410
Name: Total_Marks, dtype: int64

 Average Marks :
 0    74.500000
1    89.666667
2    47.500000
3    66.333333
4    33.500000
5    84.000000
6    65.333333
7    92.000000
8    53.000000
9    68.333333
Name: Average_Marks, dtype: float64


Identify the top 5 students :
     Name  Total_Marks
7  Ayesha          552
1    Sara          538
5  Fatima          504
0     Ali          447
9    Nida          410


pass/fail analysis :
     Name Status
0     Ali   Pass
1    Sara   Pass
2   Ahmed   Pass
3    Hina   Pass
4    Zain   Fail
5  Fatima   Pass
6   Usman   Pass
7  Ayesha   Pass
8   Bilal   Pass
9    Nida   Pass


Calculate subject-wise average
Maths        68.1
Physics      66.7
Chemistry    62.1
Biology      64.8
English      71.1
Urdu         71.7
dtype: float64